/***********************************************
 * colors
 ***********************************************
 * 
 * color of the logotipo 	-> #8D0130 (red)
 *
 * text   color (dark gray) -> #727677;
 * normal color (gray) 		-> #9C9C9C;
 * hover  color (gray) 		-> #60C0E1 (active blue) / #9C9C9C (normal gray) / #AFDFF0 (light blue)
 * active color (blue) 		-> #60C0E1;
 * 
 ***********************************************
 * text size
 ***********************************************
 * 
 * title 		black	(32pt) 	-> 42px/2.55em
 * subTitle 	bold 	(28pt) 	-> 37px/2.3em
 * body text	regular (18pt) 	-> 24px/1.5em
 * 
 ***********************************************
*/

/*****************************************************************
 *****************************************************************
 **																**
 **							Basic Info							**
 **																**
 *****************************************************************
 ****************************************************************/
*{
	font-family: 'lato', sans-serif;
	color: #727677;
}
body{
	background-color: #F5F6F8;
}
header{
	height: 70px;
	margin-bottom: 20px;
}
hr{
	border-color:#CACDD4;
}

/*****************************************************************
 *****************************************************************
 **																**
 **							SCROLL BAR							**
 **																**
 *****************************************************************
 ****************************************************************/

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}

/*****************************************************************
 *****************************************************************
 **																**
 **							Formularios							**
 **																**
 *****************************************************************
 ****************************************************************/



/*************************************************
 **												**
 **					Search input				**
 **												**
 *************************************************/

.search input[type=text]{
	width:100%; 
	border:0;
	border-bottom:1px solid #CACDD4; 
	outline: 0;
	margin:0; 
	height:40px; 
	line-height:30px;
	background-color: #F5F6F8;
	box-shadow: none;
	border-radius: 0;
    padding-right: 30px;
}

.search input[type=text]:hover, .search input[type=text]:active, .search input[type=text]:focus{
	border-bottom: 1px solid #60C0E1;
	color: #60C0E1;
	-webkit-box-shadow: none;
			box-shadow: none; 
}
.search{
	padding:10px 0 20px 0;
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .icon-icomoon{
    position: absolute;
    z-index: 2;
    right: 10px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

/*****************************************************************
 **																**
 **						Formulario input						**
 **																**
 ****************************************************************/
 									/* LABEL */
.title-topic{ 
	font-size: 14px;
	color: #A6A6A6;
	margin: 5px 0;
	text-transform: capitalize;
	font-weight: 300;
}
									/* INPUT */
.form input{
	background-color: transparent;
	border-radius: 5px;
	padding-left: 10px;
	border: none;
	padding-right: 20px;
	outline: none;
	border: 1px solid #9C9C9C;
	color: #9C9C9C;
	transition: all 0.4s;
}

.form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #BBB;
}
.form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BBB;
   opacity:  1;
}
.form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BBB;
   opacity:  1;
}
.form input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #BBB;
}
.form input:hover,.form input:active, .form input:focus{
	border: 1px solid #60C0E1;
	color: #60C0E1;
	-webkit-box-shadow: none;
			box-shadow: none; 
}
									/* COLOR FORMS */
										/* GREEN */
.form.red input{
	box-shadow: inset 1px 1px 2px #C00303, 1px 1px 2px #C00303;
}
										/* RED */
.form.green input{
	box-shadow: inset 1px 1px 2px #43B515, 1px 1px 2px #43B515;
}


/*****************************************************************
 *****************************************************************
 **																**
 **							 Panels								**
 **																**
 *****************************************************************
 ****************************************************************/

.coluna{
	margin: 20px 0 15px 0; 
	box-shadow: 1px 1px 5px #C7CCD1;
	border-left: 5px solid #7CC8E4;
	border-bottom : 2px solid #C7CCD1;
	background: #fff;
	padding: 20px;
}