@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?s7zquz');
	src:url('../fonts/icomoon.eot?#iefixs7zquz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?s7zquz') format('woff'),
		url('../fonts/icomoon.ttf?s7zquz') format('truetype'),
		url('../fonts/icomoon.svg?s7zquz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-child:before {
	content: "\e600";
}

.icon-account-circle:before {
	content: "\e601";
}

.icon-assessment:before {
	content: "\e603";
}

.icon-assignment:before {
	content: "\e604";
}

.icon-assignment-ind:before {
	content: "\e605";
}

.icon-assignment-late:before {
	content: "\e606";
}

.icon-assignment-turned-in:before {
	content: "\e607";
}

.icon-credit-card:before {
	content: "\e608";
}

.icon-delete:before {
	content: "\e609";
}

.icon-description:before {
	content: "\e60a";
}

.icon-done:before {
	content: "\e60b";
}

.icon-event:before {
	content: "\e60c";
}

.icon-favorite:before {
	content: "\e60d";
}

.icon-favorite-outline:before {
	content: "\e60e";
}

.icon-get-app:before {
	content: "\e60f";
}

.icon-info:before {
	content: "\e610";
}

.icon-info-outline:before {
	content: "\e611";
}

.icon-launch:before {
	content: "\e612";
}

.icon-lock:before {
	content: "\e613";
}

.icon-lock-open:before {
	content: "\e614";
}

.icon-lock-outline:before {
	content: "\e615";
}

.icon-payment:before {
	content: "\e616";
}

.icon-question-answer:before {
	content: "\e617";
}

.icon-restore:before {
	content: "\e618";
}

.icon-room:before {
	content: "\e619";
}

.icon-schedule:before {
	content: "\e61a";
}

.icon-search:before {
	content: "\e61b";
}

.icon-settings-power:before {
	content: "\e61c";
}

.icon-shopping-cart:before {
	content: "\e61d";
}

.icon-forum:before {
	content: "\e61f";
}

.icon-messenger:before {
	content: "\e620";
}

.icon-phone:before {
	content: "\e621";
}

.icon-textsms:before {
	content: "\e622";
}

.icon-add-circle:before {
	content: "\e623";
}

.icon-add-circle-outline:before {
	content: "\e624";
}

.icon-create:before {
	content: "\e625";
}

.icon-drafts:before {
	content: "\e626";
}

.icon-flag:before {
	content: "\e627";
}

.icon-link:before {
	content: "\e628";
}

.icon-mail:before {
	content: "\e629";
}

.icon-send:before {
	content: "\e62a";
}

.icon-gps-fixed:before {
	content: "\e62b";
}

.icon-filter-1:before {
	content: "\e62c";
}

.icon-filter-2:before {
	content: "\e62d";
}

.icon-filter-3:before {
	content: "\e62e";
}

.icon-filter-4:before {
	content: "\e62f";
}

.icon-filter-5:before {
	content: "\e630";
}

.icon-filter-6:before {
	content: "\e631";
}

.icon-filter-7:before {
	content: "\e632";
}

.icon-filter-8:before {
	content: "\e633";
}

.icon-filter-9:before {
	content: "\e634";
}

.icon-filter-9-plus:before {
	content: "\e635";
}

.icon-filter:before {
	content: "\e636";
}

.icon-movie-creation:before {
	content: "\e637";
}

.icon-photo:before {
	content: "\e638";
}

.icon-local-airport:before {
	content: "\e639";
}

.icon-local-cafe:before {
	content: "\e63a";
}

.icon-local-grocery-store:before {
	content: "\e63b";
}

.icon-local-offer:before {
	content: "\e63c";
}

.icon-local-parking:before {
	content: "\e63d";
}

.icon-local-phone:before {
	content: "\e63e";
}

.icon-local-print-shop:before {
	content: "\e63f";
}

.icon-local-shipping:before {
	content: "\e640";
}

.icon-apps:before {
	content: "\e641";
}

.icon-arrow-back:before {
	content: "\e642";
}

.icon-arrow-drop-down:before {
	content: "\e643";
}

.icon-arrow-drop-down-circle:before {
	content: "\e644";
}

.icon-arrow-drop-up:before {
	content: "\e645";
}

.icon-arrow-forward:before {
	content: "\e646";
}

.icon-cancel:before {
	content: "\e647";
}

.icon-check:before {
	content: "\e648";
}

.icon-chevron-left:before {
	content: "\e649";
}

.icon-chevron-right:before {
	content: "\e64a";
}

.icon-close:before {
	content: "\e64b";
}

.icon-expand-less:before {
	content: "\e64c";
}

.icon-expand-more:before {
	content: "\e64d";
}

.icon-menu:before {
	content: "\e64e";
}

.icon-more-vert:before {
	content: "\e64f";
}

.icon-phone-forwarded:before {
	content: "\e650";
}

.icon-phone-in-talk:before {
	content: "\e651";
}

.icon-phone-locked:before {
	content: "\e652";
}

.icon-phone-missed:before {
	content: "\e653";
}

.icon-phone-paused:before {
	content: "\e654";
}

.icon-sms-failed:before {
	content: "\e655";
}

.icon-notifications:before {
	content: "\e656";
}

.icon-notifications-none:before {
	content: "\e657";
}

.icon-notifications-off:before {
	content: "\e658";
}

.icon-notifications-on:before {
	content: "\e659";
}

.icon-notifications-paused:before {
	content: "\e65a";
}

.icon-person:before {
	content: "\e65b";
}

.icon-person-add:before {
	content: "\e65c";
}

.icon-person-outline:before {
	content: "\e65d";
}

.icon-plus-one:before {
	content: "\e65e";
}

.icon-poll:before {
	content: "\e65f";
}

.icon-publ:before {
	content: "\e660";
}

.icon-share:before {
	content: "\e661";
}

.icon-check-box:before {
	content: "\e662";
}

.icon-check-box-outline-blank:before {
	content: "\e663";
}

.icon-radio-button-off:before {
	content: "\e664";
}

.icon-radio-button-on:before {
	content: "\e665";
}

.icon-star:before {
	content: "\e666";
}

.icon-star-half:before {
	content: "\e667";
}

.icon-star-outline:before {
	content: "\e668";
}

