
/*****************************************************************
 *****************************************************************
 **																**
 **							 Header 							**
 **																**
 *****************************************************************
 ****************************************************************/
.header{
	width: 100%;
	padding: 20px;
	background-color: #FFF;
	box-shadow: 0 0 3px 1px #D3D1D1;
	position: fixed;
	z-index: 10;
	height: 70px;
}
.header h1{
	margin:0;
	font-size: 20px;
	padding:0;
	display:inline-block; 
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 5px 15px;
	color: #656767;
	font-weight: 500;
	font-size: 15px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #717479;
  background-color: transparent;
}
.nav-stacked > li {
  float: none;
}
.nav>li>a:hover, 
.nav>li>a:focus {
	background-color: transparent;
}
.header2 h3{
	margin-top: 0;
	padding-left:0;
	color: #7CC8E4;
}
.texto{
	font-family: Arial, Helvetica, sans-serif;
	color:#C7CCD1;
}
.header > .logo img{
	width:80px;
}
.header > .login img{
	width:auto;
}


/*****************************************************************
 *****************************************************************
 **																**
 **						Sidebar Menu 							**
 **																**
 *****************************************************************
 ****************************************************************/
.menu-topic{ 
	font-size: 13px;
	color: #A6A6A6;
	margin: 5px 0;
	text-transform: capitalize;
	font-weight: 300;
}
.sidebar-menu.affix{
	top: 90px;
}
.sidebar-menu li.item-menu.active:before{
	border-radius: 50%;
	width: 8px;
	height: 8px;
	background: #60C0E1;
	content: "";
    display: block;
    position: absolute;
    top: 38%;
}