.menu-store{
  background: #fff !important;
  box-shadow: 0 0 5px rgb(223, 223, 223) !important;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.ui.secondary.pointing.menu{
  margin: auto;
}

.sub-menu{
  margin: auto;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: all .5s cubic-bezier(.42,0,.58,1);
     -moz-transition: all .5s cubic-bezier(.42,0,.58,1);
       -o-transition: all .5s cubic-bezier(.42,0,.58,1);
          transition: all .5s cubic-bezier(.42,0,.58,1);
  border-bottom: 1px solid rgb(229, 229, 229);
}
.sub-menu .item{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 0.95em;
  display: inline-block;
}
.sub-menu.show-subMenu{
  height: 45px; /* approximate max height */
}

.sub-sub-menu{
  margin: auto;
  height: 0;
  overflow-y: hidden;
  -webkit-transition: all .5s cubic-bezier(.42,0,.58,1);
  -moz-transition: all .5s cubic-bezier(.42,0,.58,1);
  -o-transition: all .5s cubic-bezier(.42,0,.58,1);
  transition: all .5s cubic-bezier(.42,0,.58,1);
  border-bottom: 1px solid rgb(229, 229, 229);
}
.sub-sub-menu .item{
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 0.95em;
  display: inline-block;
}
.sub-sub-menu.show-subMenu{
  height: 145px; /* approximate max height */
}