.sub-sub-menu a{
    background-color: rgba(202, 202, 202, 0.2) !important;
}
#main-content {
    width: 100%;
    padding: 10px 20px;
    background-color: #E7E7E7;
}
a, a:hover{
    text-decoration: none;
}
.panel, .tab-content {
    border-radius: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.tab-pane  .panel{
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}